@font-face {
    /*font-family: Baloo Bhai;*/
    src: url('fonts/BalooBhai-regular.ttf');
}

.box{
    -fx-min-height: 500;
    -fx-min-width: 500;
    -fx-padding: 10, 10, 10, 10;
    -fx-background-color: purple;
    -fx-alignment: CENTER;
    -fx-font-family: 'Baloo Bhai';
}

.label-score{
    -fx-text-fill: orange;
    -fx-font-size: 50;
}

.label-balls{
    -fx-text-fill: orange;
    -fx-font-size: 50;
}

.button-knop{
    -fx-background-color: orange;
    -fx-font-size: 75px;
    -fx-min-width: 500px;
    -fx-min-height: 100px;
}